body {
  margin: 0;
  padding: 0;
  color: #5a6579;
  font-family: "Arvo", "Helvetica";
}
div[role='container'] {
  margin: auto;
  width: 1000px;
}
nav[role='language'] {
  line-height: 0px;
  overflow: visible;
  text-align: right;
}
header[role='main-navigation'] {
  background: url('/images/bg.stripy.png');
  font-size: 17px;
  height: 218px;
}
header[role='main-navigation'] h1 {
  text-indent: -999em;
  overflow: hidden;
  background: url('/images/logo.png') no-repeat;
  height: 218px;
  width: 262px;
  position: absolute;
}
header[role='main-navigation'] nav > ul {
  margin-top: 90px;
  line-height: 42px;
  height: 42px;
  width: 100%;
  padding-left: 200px;
  padding-right: -200px;
  background: #fff;
  list-style: none;
  /* end nav > ul li */

  /* end nav > ul*/

}
header[role='main-navigation'] nav > ul li:first-child {
  margin-left: 0;
}
header[role='main-navigation'] nav > ul li {
  float: left;
  margin-left: 22px;
  padding: 0;
}
header[role='main-navigation'] nav > ul li a {
  padding: 0px 10px;
  color: #a9b2c1;
}
header[role='main-navigation'] nav > ul li a:hover {
  background: #36cdc4;
  color: #fff;
}
header[role='main-navigation'] nav > ul li ul {
  display: none;
  position: relative;
  left: -26px;
  top: -10px;
  background: #36cdc4 url('/images/bg.arrows.png') no-repeat;
  padding: 10px 30px 0 8px;
}
header[role='main-navigation'] nav > ul li ul li {
  font-size: 16px;
  margin: 0;
  float: none;
  height: auto;
}
header[role='main-navigation'] nav > ul li ul li a {
  color: #ffffff;
}
header[role='main-navigation'] nav > ul li input {
  background: #bec8d9 url('/images/icon.loupe.png') no-repeat 100px center;
  border: 0;
  color: #fff;
  height: 42px;
  width: 88px;
  line-height: 42px;
  padding: 0 24px 0;
  margin: 0;
  position: relative;
  top: -2px;
}
header[role='main-navigation'] nav > ul li[role='login-link'] {
  margin-left: 0;
}
header[role='main-navigation'] nav > ul li[role='login-link'] a {
  color: #5a6579;
  display: block;
  height: 42px;
  text-align: center;
  padding: 0 24px 0;
  width: 88px;
  background: #ffde00;
}
